Source: fonts-urw-garamond-no8
Section: non-free/fonts
Priority: optional
Maintainer: Rogério Brito <rbrito@gmail.com>
Build-Depends: debhelper-compat (= 12)
Build-Depends-Indep:
 tex-common
Standards-Version: 4.1.4
Homepage: http://tug.ctan.org/tex-archive/fonts/urw/garamond/
Vcs-Browser: https://github.com/rbrito/pkg-fonts-urw-garamond-no8
Vcs-Git: https://github.com/rbrito/pkg-fonts-urw-garamond-no8.git

Package: fonts-urw-garamond-no8
Architecture: all
Depends:
 ${misc:Depends}
Description: scalable PostScript fonts from the Garamond family
 The URW Garamond No. 8 font family is URW's version of the
 Garamond typeface. These scalable fonts are shipped in the
 PostScript Type 1 format and feature normal and bold series.
 Both series are available in upright and italic shapes.
 .
 The fonts are setup for use with the TeX typesetting system.
 They are also integrated into X11.
