#!/usr/bin/make -f
#
# rules file for Debian package t1-urw-garmondno8.
#
# 1.6.2006 Kevin Bube <k.bube@web.de>
#
# 2009-06-12: changed by Rogério Brito <rbrito@ime.usp.br>
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


package=t1-urw-garamondno8


MAPTYPE=Map
#MAPSRC=$(CURDIR)/map
#MAPDST=usr/share/texmf/fonts/map/dvips/$(package)

PFBSRC="$(CURDIR)"
PFBDST=usr/share/texmf/fonts/type1/urw/garamond

TFMSRC="$(CURDIR)"/fonts/tfm/urw/garamond
TFMDST=usr/share/texmf/fonts/tfm/urw/garamond

VFSRC="$(CURDIR)"/fonts/vf/urw/garamond
VFDST=usr/share/texmf/fonts/vf/urw/garamond

DVIPSCONFIGSRC="$(CURDIR)"/dvips/config
DVIPSCONFIGDST=usr/share/texmf/fonts/map/dvips/ugm

TEXSRC="$(CURDIR)"/tex/latex/ugm
TEXDST=usr/share/texmf/tex/latex/ugm

AFMSRC="$(CURDIR)"
AFMDST=usr/share/texmf/fonts/afm/urw/garamond

TEXDOCSRC="$(CURDIR)"/doc/fonts/urw
TEXDOCDST=usr/share/texmf/doc/fonts/urw

X11DST=usr/share/fonts/X11/Type1
FONTSCALE="$(CURDIR)"/debian/$(package).scale


####################
#
# Main Targets
#
####################

# normally at build time nothing has to be done
build:

install: install-stamp

binary: binary-indep binary-arch

###################
#
# Sub targets
#
###################

clean: debian/control
	dh_testdir
	dh_testroot
	rm -f debian/$(package).links install-stamp
	dh_clean

install-stamp:
	dh_testdir 
	dh_testroot
	dh_installdirs $(AFMDST) $(PFBDST) $(VFDST) $(TFMDST) \
		$(TEXDST) $(DVIPSCONFIGDST) $(TEXDOCDST) \
		$(X11DST) etc/X11/fonts/Type1
	if [ -n $(PFBSRC) ] ; then for i in $(PFBSRC)/*.pfb ; do \
		install --mode=644 "$$i" debian/$(package)/$(PFBDST)/ ; \
	done ; fi
	if [ -n $(AFMSRC) ] ; then for i in $(AFMSRC)/*.afm ; do \
		install --mode=644 "$$i" debian/$(package)/$(AFMDST)/ ; \
	done ; fi
	if [ -n $(VFSRC) ] ; then for i in $(VFSRC)/*.vf ; do \
		install --mode=644 "$$i" debian/$(package)/$(VFDST)/ ; \
	done ; fi
	if [ -n $(TFMSRC) ] ; then for i in $(TFMSRC)/*.tfm ; do \
		install --mode=644 "$$i" debian/$(package)/$(TFMDST)/ ; \
	done ; fi
	if [ -n $(DVIPSCONFIGSRC) ] ; then for i in $(DVIPSCONFIGSRC)/* ;\
		 do \
		install --mode=644 "$$i" debian/$(package)/$(DVIPSCONFIGDST)/; \
	done ; fi
	if [ -n $(TEXSRC) ] ; then for i in $(TEXSRC)/* ; do \
		install --mode=644 "$$i" debian/$(package)/$(TEXDST)/ ; \
	done ; fi
	if [ -n $(TEXDOCSRC) ] ; then for i in $(TEXDOCSRC)/* ; do \
		install --mode=644 "$$i" debian/$(package)/$(TEXDOCDST)/ ; \
	done ; fi

	dh_installtex map=Map,ugm.map

	for i in debian/$(package)/$(PFBDST)/*.pfb ; do \
		bn=$$(basename $$i) ; \
		echo $(PFBDST)/$$bn $(X11DST)/$$bn >> \
		debian/$(package).links ; \
	done
	for i in debian/$(package)/$(AFMDST)/*.afm ; do \
		bn=$$(basename $$i) ; \
		echo $(AFMDST)/$$bn $(X11DST)/$$bn >> \
		debian/$(package).links ; \
	done

        # add documentation files to the link list
	for i in debian/$(package)/$(TEXDOCDST)/* ; do \
		bn=$$(basename $$i) ; \
		echo $(TEXDOCDST)/$$bn usr/share/doc/$(package)/$$bn >> \
		debian/$(package).links ; \
	done


	install --mode=644 $(FONTSCALE)\
		debian/$(package)/etc/X11/fonts/Type1/$(package).scale

	touch install-stamp


binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs README.garamond urw-garamond.pdf
	dh_installchangelogs
	dh_link
	dh_installxfonts
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:


.PHONY: build clean binary-indep binary-arch binary install
